/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-may-2014, 9:20:17
    Author     : root
*/

html {
    background:              url(../public/alsina.JPG) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
}

body {
    font-family: Arial;
}
input {
    width:         90%;
    font-family:   Arial;
    font-size:     12px;
    padding:       3px;
    border:        1px solid #888888;
    color:         #000000;
    border-radius: 3px;
}

input:hover {
    border:1px solid #000000;
}

input:focus {
    border:1px solid #000000;
}

