.border_no_selected_first {
	background-color: #f1f1f1;
	border-right:     1px solid #f1f1f1;
	border-bottom:    1px solid #d1d1d1;
}
.border_no_selected_first:hover {
	background-color: #e1e1e1;
	cursor:           pointer;
}

.border_no_selected {
	background-color: #f1f1f1;
	border-left:      1px solid #f1f1f1;
	border-right:     1px solid #f1f1f1;
	border-bottom:    1px solid #d1d1d1;
}
.border_no_selected:hover {
	background-color: #e1e1e1;
	cursor:           pointer;
}

.border_selected_first {
	background-color: #ffffff;
	border-right:     1px solid #d1d1d1;
}

.border_selected {
	background-color: #ffffff;
	border-left:      1px solid #d1d1d1;
	border-right:     1px solid #d1d1d1;
}

.menu_sup_title_link {
	color:           #888888;
	font-size:       10px;
	font-weight:     bold;
	text-decoration: none;
}
.menu_sup_title_link:hover {
	text-decoration: underline;
}
