body {
	/*background-image: url('../public/bg_repeat.png');*/
    background-color: #e1e1e1;
	color:            #888;
	font-size:        10px;
}

a {
	color: #31A4D9;
}

.gboton_green {  
	/* background */
	background-color: #6cd335;  
	background-image: -webkit-gradient(linear,left top,left bottom,from(6cd335),to(#3aa600));  
	background-image: -moz-linear-gradient(top,#6cd335,#3aa600);  
	background-image: -ms-linear-gradient(top,#6cd335,#3aa600);  
	background-image: -o-linear-gradient(top,#6cd335,#3aa600);  
	background-image: -webkit-linear-gradient(top,#6cd335,#3aa600);  
	background-image: linear-gradient(top,#6cd335,#3aa600);  
	filter:           progid:DXImageTransform.Microsoft.gradient (startColorStr='#6cd335',EndColorStr='#3aa600');  
	
	/* border */
	border:                1px solid #3aa600;  
	-moz-border-radius:    2px;  
	-webkit-border-radius: 2px;  
	border-radius:         2px;  
	-moz-user-select:      none;  
	-webkit-user-select:   none;  
	
	color:           white;
	display:         inline-block;  
	font-weight:     bold;  
	height:          33px;
	width:           180px;
	line-height:     29px;
	text-align:      center;
	text-decoration: none;  
	padding:         0px auto;
	margin-top:      0px;
	margin-bottom:   0px;
	font:            14px/32px Arial,sans-serif;  
	cursor:          pointer;
}
