<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>
        Comunitat de propietaris Carrer Alsina i Maria Vidal de Vilasar de Mar
        </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet"    href="css/index.css" type="text/css" />
		<link rel="shortcut icon" href="public/favico.ico" />
        <script>
            {% include 'js/googleAnalytics.js' %}
        </script>
        
        {% include 'head.twig' %}
    </head>

    <body>

        {#% include 'nav.twig' %#}

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                
                    <div class="vertical-center" style="margin:0 auto;max-width:450px;">
                
                        <div style="max-width:300px;
                                    margin:0 auto;
                                    border:1px solid black;
                                    border-radius:10px;
                                    box-shadow: 0px 0px 20px #000000;
                                    background-color: #ffffff;
                                    padding: 0 20px 20px 20px;
                                    opacity:0.90;filter:alpha(opacity=90);
                                    ">
                        
                            <form action="index.php">
                                <h3 class="form-signin-heading">
                                Comunitat de propietaris <br>Carrer Alsina i Maria Vidal
                                </h3>
                                <input name="user" id="user" class="form-control" placeholder="Usuari" required="" autofocus="" type="text">
                                <input name="pass" id="pass" class="form-control" placeholder="Contrasenya" required="" type="password">
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                                <input type="hidden" name="accion" value="valida" />
                            </form>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>

        {% include 'footer.twig' %}
        {% include 'coreJS.twig' %}
    </body>
</html>